[Unit]
Description=EDDN Listener
After=network.target

[Service]
User=eddn
Group=eddn
WorkingDirectory=/home/eddn
Type=forking
ExecStart=/home/eddn/listener.sh start
ExecStop=/home/eddn/listener.sh stop
ExecReload=/home/eddn/listener.sh restart
PIDFile=/home/eddn/listener.pid
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
